html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-page {
    height: 100vh;
    width: 100vw;
}
.button{
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    align-self: center;
    width: fit-content;
}
a {
    text-decoration: none;
}


#header {
    height: 5vh;
    background-color: rgb(37, 37, 37);
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#header div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}
#header div p span {
    font-weight: bold;
}
#buy-now {
    background-color: rgb(125, 184, 71);
    color: white;
    border: none;
    margin: 0 1rem;
}



#central-section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#white-page-section {
    background-color: rgb(213, 229, 238);
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#white-central {
    display: grid;
    grid-template-areas: 'borneo bprneo call'
                         'borneo bprneo call'
                         'follow follow follow'
                         'design design pic-one'
                         'design design pic-one'
                         'design design pic-two'
                         'home jq pic-two'
                         'home jq pic-three'
                         'ajax face pic-three'
                         'ajax face arr'
                         'ajax face arr';
    width: 60%;
    height: 100%;   
    gap: 1rem;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;         
}
#title {
    grid-area: borneo;
    color: rgb(47, 80, 110);
    font-size: 4rem;
    align-self: center;
}
#call-us {
    grid-area: call;
    color: rgb(47, 80, 110);
    font-size: 1.5rem;
    justify-self: end;
    align-self: center;
}
#follow-us-menu {
    grid-area: follow;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(234, 241, 247);
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
}
#follow-us-menu div:first-of-type {
    display: flex;
    gap: 1rem;
}
#follow-us-menu div:first-of-type a i {
    font-size: 2rem;
    color: rgb(158, 177, 189);
}
#follow-us {
    border: none;
    color: white;
    background-color: rgb(47, 80, 110);
}
#sub-input {
    display: flex;
    align-items: center;
    width: 30%;
}
#sub-input input {
    width: 60%;
    border-radius: 0.2rem 0 0 0.2rem;
    background-color: rgb(39, 63, 87);
    height: 2.5rem;       
    padding: 0 0.5rem;
    border: none;
}
#sub-input input::placeholder {
    color: white;
}
#sub-input button{
    width: 40%;
    border-radius: 0 0.2rem 0.2rem 0;
    background-color: rgb(86, 142, 194);
    color: white;
    height: 2.5rem;      
    padding: 0 0.5rem;
    border: none;
}

#design {
    grid-area: design;
    display: flex;
    flex-direction: column;
}
#design h2 {
    color: white;
    font-size: 3rem;
}
#design p {
    color: rgb(39, 63, 87);
    font-size: 2rem;
    width: 70%;
}

#customize {
    grid-area: home;
}
#jq {
    grid-area: jq;
}
#ajax {
    grid-area: ajax;
}
#font-face {
    grid-area: face;
}
#arrows-blue {
    grid-area: arr;
}
#pic-one {
    grid-area: pic-one;
}
#pic-two {
    grid-area: pic-two;
}
#pic-three {
    grid-area: pic-three;
}
.big-pic {
    width: 100%;
    height: 100%;
    object-fit: fill;
    padding: 0.5rem;
    border: 0.2rem solid rgb(164, 173, 179);
    background-color: rgb(223, 229, 233);
    border-radius: 0.2rem;
}
.small-pic {
    max-height: 5vh;   
    width: auto;
    object-fit: contain; 
    justify-self: center; 
}
.white-small-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}
.white-small-section div h3 {
    color: rgb(39, 63, 87);
    margin-bottom: 0.5rem;
}
.white-small-section div p {
    width: 80%;
    color: rgb(39, 63, 87);
}
#arrows-blue {
    align-self: center;
    justify-self: center;
    display: flex;
    gap: 0.5rem;
}
#arrows-blue a {
    font-size: 0.8rem;
    color: rgb(39, 63, 87);
    padding: 0.2rem 0.3rem;
    border: 0.1rem solid rgb(127, 137, 143);
    border-radius: 50%;
    background-color: rgb(190, 222, 253);
}

#dark-page-section {
    background-color: rgb(47, 80, 110);
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}
#white-titles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: rgb(213, 229, 238);
    gap: 25rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}
#white-titles h3 {
    color: rgb(47, 80, 110);
    font-weight: normal;
    display: inline-block;
    padding: 0.5rem 0;
}
#dark-central {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
}
#latest-work {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#lastest-pic {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.last-pic {
    width: 45%;
    height: auto;
    object-fit: cover;
    border: 1rem solid rgb(39, 63, 87);
}
#latest-work-arr {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
#latest-work-arr a {
    font-size: 0.8rem;
    color: rgb(39, 63, 87);
    padding: 0.2rem 0.3rem;
    border: 0.1rem solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

#client-testimonial-section {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}
#client-testimonial {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#client-testimonial p {
    width: 85%;
}
#testimonial-arr {
    align-self: center;
    display: flex;
    gap: 0.5rem;
}
#testimonial-arr a {
    font-size: 0.8rem;
    color: rgb(39, 63, 87);
    padding: 0.2rem 0.3rem;
    border: 0.1rem solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
#commas-pictures {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 10%;
}
.commas {
    max-height: 5vh;   
    width: auto;
    object-fit: contain; 
}

#drop-us-a-line {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
#drop-us-a-line > div {
    display: flex;
    justify-content: space-between;
}
#drop-us-a-line-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#send-button {
    align-self: flex-end;
}


#footer {
    height: 5vh;
    width: 100%;
    background-color: rgb(47, 80, 110);
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.1rem solid rgb(107, 136, 150);
}
#footer-center {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}